#wrraper .containers { font-family: karalight; margin-bottom: 20px; font-size: 1.5rem; }
#wrraper .containers .title { font-size: 2.4rem; margin-bottom: 10px; }
#wrraper .containers ul { list-style: disc inside; margin-right: 40px; }
#wrraper .containers .mright { margin-right: 40px; }

#wrraper .spec_word_a { font-size: 2.2rem; line-height: 34px; width: 90%; margin: 40px auto; text-align: justify; }
#wrraper .spec_word_b { font-size: 2rem; display: block; margin-bottom: 10px; }

#samples { margin-top: 50px; }
#samples .title_red { text-align: center; font-size: 2rem; margin-bottom: 40px; color: #d71920; }
#samples ul li { width: 100%; list-style: none; margin-bottom: 70px; }
#samples ul li a { display: flex; }
#samples ul li .cover { width: 50%; }
#samples ul li .cover img { width: 100%; }
#samples ul li .detail { width: 50%; position: relative; }
#samples ul li .detail span { font-family: karalight; width: 280px; text-align: center; font-size: 2rem; line-height: 30px; }

/******************* mobile *******************/
@media only screen and (min-width: 0px) and (max-width: 767px) {
    #category { padding: 0; }
    #wrraper .spec_word_a {  font-size: 1.6rem; line-height: 28px; margin-top: 0; width: 100%; }
    #wrraper ul { padding: 0; margin: 0 14px 0 0 !important; list-style: outside !important; }
    #wrraper .containers { padding: 0; font-size: 1.4rem; margin-bottom: 40px; }
    #wrraper .containers .containers { padding: 0; }
    #wrraper .containers .mright { margin-right: 0; }
    #wrraper .containers .title { font-size: 1.9rem; }

    #samples ul { margin: 0 !important; padding: 0 !important; }
    #samples ul li { margin-bottom: 20px; }
    #samples ul li a { display: block; }
    #samples ul li .detail { margin-top: 10px; text-align: center; }
    #samples ul li .detail span { position: static; font-size: 1.3rem; }
    #samples ul li [class*="pull-"] { width: 100%; }
}