@charset "utf-8";
/* CSS Document */

.widthParallel { position: relative; }
#sales { margin: 50px auto; direction: rtl; font-size: 1.4rem; line-height: 27px; font-family: karalight; }
#sales h2 { font-size: 2rem; margin-bottom: 0; }
#sales .col { border: 1px solid #e6e6e6; font-size: 1.4rem; padding: 10px; margin-bottom: 20px; display: flex; }
#sales .col b { color: #d50000; margin-left: 5px; }
#sales .col img { width: 90%; }
#sales .col span { display: block; }
#sales .col ul li { line-height: 29px; }
#sales .col .icon-sell::before { content: "\e94e"; }
#sales .col .cover { text-align: center; border-left: 1px solid #e6e6e6; }
#sales .col .cover .centerPos { width: 90px; height: 90px; border-radius: 22px; font-weight: bold; }
#sales .para { display: inline !important; margin-right: 4px; vertical-align: top; font-family: karalight; font-weight: normal !important; }
#sales [type="checkbox"] { vertical-align: middle; margin-top: -2px; }
#sales #right { border-left: 1px solid #DDD; padding-left: 30px; }
#sales #left { padding-right: 30px; }

#sales #form { margin-top: 20px; }
#sales #form p { font-size: 1.3rem; font-weight: bold; margin-bottom: 30px; }
#sales #form ul li { margin-bottom: 15px; position: relative; }
#sales #form ul li span { display: inline-block; font-weight: bold; font-size: 1.3rem; }
#sales #form ul li .red { color: red; position: relative; top: 5px; }
#sales #form ul li .textstyle { width: 100%; border: 1px solid #ccc; padding: 6px 10px; }
#sales #form button { padding: 10px 20px; margin-top: 40px; background-color: #AB171F; color: #FFF; border: none; }
#sales #form ul #cpatcha .text-style { width: 110px; padding-right: 10px !important; }
#sales #form ul li img { width: 170px; margin-bottom: 10px; }

/******************* Desktop *********************/
@media only screen and (min-width:1200px) {
}
/******************* Mini *********************/
@media only screen and (min-width:992px) and (max-width: 1199px){
}
/******************* tablet *******************/
@media only screen and (min-width:768px) and (max-width: 991px){
}
/******************* mobile *******************/
@media only screen and (min-width: 0px) and (max-width: 767px) {
	#head .widthParallel { margin-top: 60px; }
	#sales { padding: 10px; margin: 0 auto 20px 0; }
	#sales #googleMap { height: 230px; }
	#sales #right { border: none; }
	#sales [class*="col-"] { width: 100%; padding: 0 !important; }
	#sales #form { margin: 0; }
	#sales ul { padding: 0; }
}
/******************* smobile *******************/
@media only screen and (min-width: 0px) and (max-width: 320px) {
}